// colors
$textColorPrimary:  #68bd6c;
$textColorSecondary: white;
$textColorTertiary: rgb(50, 50, 50);
$textColorAccent: red;
$backgroundColorPrimary: #68bd6c;

// images
$imageCover: url(https://raw.githubusercontent.com/build-week-design-your-life/Front-end-design-life/master/design-life/src/images/Kouen.jpg);

// dimensions
$homeModalWidth: 400px;
